@tailwind base;
@tailwind components;
@tailwind utilities;

/* font families */
@font-face {
  font-family: 'SwitzerVariable';
  src: url('/fonts/Switzer-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DharmaGothicE';
  src: url('/fonts/DharmaGothicE_Regular_R.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply text-black dark:text-white bg-gradient-to-b from-transparent to-white dark:from-black dark:to-black font-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-secondary uppercase tracking-wide;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn-primary {
    @apply bg-gradient-to-b from-tertiary-100 to-tertiary-200 text-white font-bold py-2 px-4 rounded-md shadow-md transition-all duration-300 ease-in-out;
  }

  .btn-primary:hover {
    @apply shadow-sm;
  }

  .btn-secondary {
    @apply bg-gradient-to-b from-primary-100 to-primary-200 text-white font-bold py-2 px-4 rounded-md shadow-md transition-all duration-300 ease-in-out;
  }

  .btn-secondary:hover {
    @apply shadow-sm;
  }

  .game-grid {
    box-shadow:  20px 20px 60px #502b6f,-20px -20px 60px #6c3b97;
  }

  .card-unflipped {
    @apply bg-gray-800 text-white flex items-center justify-center rounded shadow-lg;
    background: linear-gradient(145deg, #65378c, #552e76);
    /* box-shadow: 1px 1px 2px #5e3383; */
  }

  .card-flipped {
    @apply bg-green-500 text-white flex items-center justify-center rounded shadow-lg;
    background: linear-gradient(145deg, #1f2937, #3b4252);
    /* box-shadow: 1px 1px 2px #1a202c; */
  }

  .glow-gold {
    @apply text-yellow-500;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.8), 0 0 20px rgba(255, 215, 0, 0.6), 0 0 30px rgba(255, 215, 0, 0.4);
  }

  .glow-silver {
    @apply text-gray-500;
    box-shadow: 0 0 10px rgba(192, 192, 192, 0.8), 0 0 20px rgba(192, 192, 192, 0.6), 0 0 30px rgba(192, 192, 192, 0.4);
  }

  .glow-bronze {
    @apply text-orange-500;
    box-shadow: 0 0 10px rgba(205, 127, 50, 0.8), 0 0 20px rgba(205, 127, 50, 0.6), 0 0 30px rgba(205, 127, 50, 0.4);
  }

  .profile-circle {
    @apply w-16 h-16 rounded-full border-2 flex items-center justify-center text-2xl font-bold;
  }

  .step {
    @apply w-24 bg-gray-200 rounded-t-lg flex flex-col items-center pb-2 justify-end mt-2;
  }
}

/* Glassmorphism */
.glassmorphic {
  @apply bg-white bg-opacity-10 rounded-lg backdrop-blur-md border border-white border-opacity-20;
}

.glassmorphic-tertiary {
  @apply bg-tertiary bg-opacity-50 rounded-lg backdrop-blur-lg border border-tertiary border-opacity-20;
}

.gradientbg {
  @apply bg-gradient-to-br from-primary to-tertiary via-secondary;
}

/* Add this to your global CSS file or within a <style> tag in your component */

.card {
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.card-back {
  transform: rotateY(180deg);
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card {
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.card-back {
  transform: rotateY(200deg);
}

.card.flipped .card-inner {
  transform: rotateY(160deg);
}