@tailwind base;
@tailwind components;
@tailwind utilities;

/* font families */
@font-face {
  font-family: 'SwitzerVariable';
  src: url('/fonts/Switzer-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DharmaGothicE';
  src: url('/fonts/DharmaGothicE_Regular_R.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    @apply font-primary !important;
}



h1, h2, h3, h4, h5, h6 {
  @apply font-secondary uppercase tracking-wide;
  /* font-size: 200% !important; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn-primary {
    @apply bg-gradient-to-b from-tertiary-100 to-tertiary-200 text-white font-bold py-2 px-4 rounded-md shadow-md transition-all duration-300 ease-in-out;
  }

  .btn-primary:hover {
    @apply shadow-sm;
  }

  .btn-secondary {
    @apply bg-gradient-to-b from-primary-100 to-primary-200 text-white font-bold py-2 px-4 rounded-md shadow-md transition-all duration-300 ease-in-out;
  }

  .btn-secondary:hover {
    @apply shadow-sm;
  }
}

/* Glassmorphism */
.glassmorphic {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@keyframes gradient-shift {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.animate-bg-gradient {
  background-size: 200% 200%;
  animation: gradient-shift 5s ease infinite !important;
}