@tailwind base;
@tailwind components;
@tailwind utilities;

/* font families */
@font-face {
  font-family: 'SwitzerVariable';
  src: url('/fonts/Switzer-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DharmaGothicE';
  src: url('/fonts/DharmaGothicE_Regular_R.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply text-black dark:text-white bg-gradient-to-b from-transparent to-white dark:from-black dark:to-black font-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-secondary uppercase tracking-wide;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn-primary {
    @apply bg-gradient-to-b from-tertiary-100 to-tertiary-200 text-white font-bold py-2 px-4 rounded-md shadow-md transition-all duration-300 ease-in-out;
  }

  .btn-primary:hover {
    @apply shadow-sm;
  }

  .btn-secondary {
    @apply bg-gradient-to-b from-primary-100 to-primary-200 text-white font-bold py-2 px-4 rounded-md shadow-md transition-all duration-300 ease-in-out;
  }

  .btn-secondary:hover {
    @apply shadow-sm;
  }
}

/* Glassmorphism */
.glassmorphic {
  @apply bg-white bg-opacity-10 rounded-lg backdrop-blur-md border border-white border-opacity-20;
}

.glassmorphic-tertiary {
  @apply bg-tertiary bg-opacity-50 rounded-lg backdrop-blur-lg border border-tertiary border-opacity-20;
}

.gradientbg {
  @apply bg-gradient-to-br from-primary to-tertiary via-secondary;
}
